<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

    <record id="view_plm_settings" model="ir.ui.view">
        <field name="name">plm settings</field>
        <field name="model">plm.config.settings</field>
        <field name="arch" type="xml">
            <form class="oe_form_configuration">
                <header>
                    <button string="Apply" type="object" name="execute" class="oe_highlight"/>
                    <button string="Cancel" type="object" name="cancel" class="oe_link"/>
                </header>
                    <div id="main"> 
                    	<group string="Plm Addons" col="1">
			                <group name="config_sign1">
			                    <field name="module_plm_automatic_weight" widget="upgrade_boolean"/>
			                </group>
			                <group name="config_sign2">
			                    <field name="module_plm_cutted_parts" widget="upgrade_boolean"/>
			                </group>
			                <group name="config_sign3">
			                    <field name="module_plm_pack_and_go" widget="upgrade_boolean"/>
			                </group>
	                        <group name="config_sign7">
			                    <field name="module_plm_date_bom" widget="upgrade_boolean"/>
			                </group>
	                        <group name="config_sign8">
			                    <field name="module_plm_web_revision" widget="upgrade_boolean"/>
			                </group>
	                        <group name="config_sign6">
			                    <field name="module_plm_automate_nbom" widget="upgrade_boolean"/>
			                </group>
	                        <group name="config_sign5">
			                    <field name="module_plm_report_language_helper" widget="upgrade_boolean"/>
			                </group>
			                <group name="config_sign4">
			                    <field name="module_product_description_language_helper" widget="upgrade_boolean"/>
			                </group>
		                </group>
	                </div>
            </form>
        </field>
    </record>

    <record id="action_plm_config" model="ir.actions.act_window">
        <field name="name">Settings</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">plm.config.settings</field>
        <field name="view_id" ref="view_plm_settings"/>
        <field name="view_mode">form</field>
        <field name="target">inline</field>
    </record>
       
	<menuitem id="plm_settings" 
	name="Settings"  
	parent="plm.plm_menu_dictionaries" 
	sequence="50" 
	groups="plm.group_plm_admin"
	action="plm.action_plm_config"/>
    </data>
</openerp>