<?xml version="1.0" encoding="utf-8"?>
<openerp>
	<data noupdate="1">

        <record id="sequence_document" model="ir.sequence">
            <field name="name">Document Sequence</field>
            <field eval="6" name="padding"/>
            <field name="code">plm.document.progress</field>
        </record>

        <function model="ir.config_parameter" name="set_param" eval="('max_download_file_size', 500000000000)" />
        
        <record id="file_extention_type_rel_2D" model="ir.config_parameter">
            <field name="key">file_exte_type_rel_2D</field>
            <field name="value">['.dwg', '.idw', '.e2']</field>
        </record>

        <record id="file_extention_type_rel_3D" model="ir.config_parameter">
            <field name="key">file_exte_type_rel_3D</field>
            <field name="value">['.e3', '.iam', '.ipt']</field>
        </record>

    </data>
</openerp>